{{- range $configMapKey, $configMap := .Values.extraConfigMaps }}
{{- if $configMap.enabled }}
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ $configMap.name | default (include "daa.configMapName" (list $ $configMapKey)) }}
  labels:
    {{- include "daa.labels" $ | nindent 4 }}
    app.kubernetes.io/component: {{ $configMapKey }}
    {{- with $configMap.labels }}
    {{- toYaml . | nindent 4 }}
    {{- end }}
  {{- $annotations := dict }}
  {{- if $.Values.global.annotations }}
  {{- $annotations = merge $annotations $.Values.global.annotations }}
  {{- end }}
  {{- if $configMap.annotations }}
  {{- $annotations = merge $annotations $configMap.annotations }}
  {{- end }}
  {{- if $annotations }}
  annotations:
    {{- toYaml $annotations | nindent 4 }}
  {{- end }}
data:
  {{- toYaml $configMap.data | nindent 2 }}
{{- end }}
{{- end }}
